# Case Study 3: Financial Portfolio Analysis
# Problem Statement:
# You have a dataset with historical stock prices for multiple companies. Perform the following tasks:

# Load and preprocess the stock price data.
# Calculate daily returns for each stock.
# Calculate portfolio returns and risk.
# Optimize the portfolio by adjusting the allocation of each stock.
# Visualize the performance and risk of the optimized portfolio.

In [264]:
financial_data = {
    'Company': ['TCS', 'Reliance', 'Infosys', 'HDFC Bank', 'ITC', 'HUL', 'Wipro', 'Bharti Airtel', 'Axis Bank', 'Coal India'],
    'Date': ['2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01', '2021-01-01'],
    'Previous_Price': [10, 2000, 1200, 1400, 200, 2200, 400, 550, 650, 150],
    'Current_Price': [12, 2030, 1220, 1415, 205, 2220, 410, 560, 660, 155],
    'weights': [0.2, 0.2, 0.2, 0.2, 0.2, 0.02, 0.1, 0.1, 0.1, 0.1]

}

In [265]:
import pandas as pd

In [266]:
df = pd.DataFrame(financial_data)

In [267]:
df.head()

     Company        Date  Previous_Price  Current_Price  weights
0        TCS  2021-01-01              10             12      0.2
1   Reliance  2021-01-01            2000           2030      0.2
2    Infosys  2021-01-01            1200           1220      0.2
3  HDFC Bank  2021-01-01            1400           1415      0.2
4        ITC  2021-01-01             200            205      0.2

In [268]:
# Missing value handling
df.isnull().sum()

Company           0
Date              0
Previous_Price    0
Current_Price     0
weights           0
dtype: int64

In [269]:
df['Price_Difference'] = df['Current_Price'] - df['Previous_Price']
df

,Company,Date,Previous_Price,Current_Price,weights,Price_Difference
0,TCS,2021-01-01,10,12,0.20,2
1,Reliance,2021-01-01,2000,2030,0.20,30
2,Infosys,2021-01-01,1200,1220,0.20,20
3,HDFC Bank,2021-01-01,1400,1415,0.20,15
4,ITC,2021-01-01,200,205,0.20,5
5,HUL,2021-01-01,2200,2220,0.02,20
6,Wipro,2021-01-01,400,410,0.10,10
7,Bharti Airtel,2021-01-01,550,560,0.10,10
8,Axis Bank,2021-01-01,650,660,0.10,10
9,Coal India,2021-01-01,150,155,0.10,5

In [270]:
df['Daily_Return (%)'] = (df['Price_Difference'] / df['Previous_Price']) * 100
df

,Company,Date,Previous_Price,Current_Price,weights,Price_Difference,Daily_Return (%)
0,TCS,2021-01-01,10,12,0.20,2,20.000000
1,Reliance,2021-01-01,2000,2030,0.20,30,1.500000
2,Infosys,2021-01-01,1200,1220,0.20,20,1.666667
3,HDFC Bank,2021-01-01,1400,1415,0.20,15,1.071429
4,ITC,2021-01-01,200,205,0.20,5,2.500000
5,HUL,2021-01-01,2200,2220,0.02,20,0.909091
6,Wipro,2021-01-01,400,410,0.10,10,2.500000
7,Bharti Airtel,2021-01-01,550,560,0.10,10,1.818182
8,Axis Bank,2021-01-01,650,660,0.10,10,1.538462
9,Coal India,2021-01-01,150,155,0.10,5,3.333333

In [271]:
# Calculate the weighted daily returns for each stock
df['Weighted_Return'] = df['Daily_Return (%)'] * df['weights']
df

,Company,Date,Previous_Price,Current_Price,weights,Price_Difference,Daily_Return (%),Weighted_Return
0,TCS,2021-01-01,10,12,0.20,2,20.000000,4.000000
1,Reliance,2021-01-01,2000,2030,0.20,30,1.500000,0.300000
2,Infosys,2021-01-01,1200,1220,0.20,20,1.666667,0.333333
3,HDFC Bank,2021-01-01,1400,1415,0.20,15,1.071429,0.214286
4,ITC,2021-01-01,200,205,0.20,5,2.500000,0.500000
5,HUL,2021-01-01,2200,2220,0.02,20,0.909091,0.018182
6,Wipro,2021-01-01,400,410,0.10,10,2.500000,0.250000
7,Bharti Airtel,2021-01-01,550,560,0.10,10,1.818182,0.181818
8,Axis Bank,2021-01-01,650,660,0.10,10,1.538462,0.153846
9,Coal India,2021-01-01,150,155,0.10,5,3.333333,0.333333

In [272]:
portfolio_returns = df['Weighted_Return'].sum()
portfolio_risk = df['Weighted_Return'].std()

In [273]:
print("Portfolio Returns:", portfolio_returns)
print("Portfolio Risk (Standard Deviation):", portfolio_risk)

Portfolio Returns: 6.284798534798535
Portfolio Risk (Standard Deviation): 1.1915362817282895

In [274]:
# new_weights = [0.2, 0.1, 0.1, 0.1, 0.05, 0.15, 0.1, 0.1, 0.05, 0.1]
# df['weights'] = new_weights
# df['Weighted_Return'] = df['Daily_Return (%)'] * df['weights']

In [275]:
# portfolio_returns = df['Weighted_Return'].sum()
# portfolio_risk = df['Weighted_Return'].std()

In [276]:
# print("Updated Portfolio Returns:", portfolio_returns)
# print("Updated Portfolio Risk (Standard Deviation):", portfolio_risk)

In [277]:
def optimize_portfolio(df, new_weights):
    df['weights'] = new_weights
    df['Weighted_Return'] = df['Daily_Return (%)'] * df['weights']
    
    portfolio_returns = df['Weighted_Return'].sum()
    portfolio_risk = df['Weighted_Return'].std()

    print("Updated Portfolio Returns:", portfolio_returns)
    print("Updated Portfolio Risk (Standard Deviation):", portfolio_risk)

In [278]:
new_weights = [0.2, 0.1, 0.1, 0.1, 0.05, 0.15, 0.1, 0.1, 0.05, 0.1]
optimize_portfolio(df, new_weights)

Updated Portfolio Returns: 5.527247752247752
Updated Portfolio Risk (Standard Deviation): 1.2135126589816367

In [279]:
df

,Company,Date,Previous_Price,Current_Price,weights,Price_Difference,Daily_Return (%),Weighted_Return
0,TCS,2021-01-01,10,12,0.20,2,20.000000,4.000000
1,Reliance,2021-01-01,2000,2030,0.10,30,1.500000,0.150000
2,Infosys,2021-01-01,1200,1220,0.10,20,1.666667,0.166667
3,HDFC Bank,2021-01-01,1400,1415,0.10,15,1.071429,0.107143
4,ITC,2021-01-01,200,205,0.05,5,2.500000,0.125000
5,HUL,2021-01-01,2200,2220,0.15,20,0.909091,0.136364
6,Wipro,2021-01-01,400,410,0.10,10,2.500000,0.250000
7,Bharti Airtel,2021-01-01,550,560,0.10,10,1.818182,0.181818
8,Axis Bank,2021-01-01,650,660,0.05,10,1.538462,0.076923
9,Coal India,2021-01-01,150,155,0.10,5,3.333333,0.333333